################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChartChecker.Backend/.vs/ChartChecker.Backend
