<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/55476028-cbd9-47a9-bbdd-04dd8b0406fd/resourceGroups/rg-jsretail-acr/providers/Microsoft.ContainerRegistry/registries/jsretail</ResourceId>
    <ResourceName>jsretail</ResourceName>
    <ResourceGroup>rg-jsretail-acr</ResourceGroup>
    <Subscription>DEV_Retail and Logistics</Subscription>
    <RegistryUrl>https://jsretail.azurecr.io</RegistryUrl>
    <UserName>jsretail</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4f0f0311-53b6-4412-916f-4983b16b0d93</ProjectGuid>
  </PropertyGroup>
</Project>